Name: rhs-hadoop
Version: $version
# release number is automatically updated when source version is the same
Release: $release%{?dist} 
#if $epoch
Epoch: $epoch
#end if
License: Apache License
URL: https://forge.gluster.org/hadoop/glusterfs-hadoop
Summary: GlusterFS Hadoop Plug-in
Group: Applications/File

#for $i, $artifact in $enumerate($all_artifacts)
Source$i: $artifact
#end for
Source100: 20_glusterfs_hadoop_sudoers

BuildRoot: %{_tmppath}/%{name}-%{version}-%{release}-root-%(%{__id_u} -n)
BuildArch: noarch

# yes, this is /usr/lib even on 64-bit
%global hadoop_libdir %{_prefix}/lib/hadoop/lib

%description
The Gluster File system Hadoop implementation for both Hadoop 1.x and 2.x.
This Java plug-in for Hadoop allows MapReduce and YARN to run on top of
Gluster, by providing the GlusterFileSystem (1.x) and GlusterFs (2.x)
implementations.  These should be referenced in the hadoop configuration
files and loaded at run time as the FileSystem implementation.

%prep

%build

%install
rm -rf %{buildroot}
/bin/mkdir -p %{buildroot}%{_javadir}
/bin/mkdir -p %{buildroot}%{hadoop_libdir}
/bin/mkdir -p %{buildroot}%{_sysconfdir}/sudoers.d

#for $i, $artifact in $enumerate($all_artifacts)
  #if $artifact.endswith('.jar')
/usr/bin/install -m 644 %{SOURCE$i} %{buildroot}%{_javadir}
/bin/ln -s ../../../..%{_javadir}/$artifact %{buildroot}%{hadoop_libdir}/$artifact
  #end if
#end for

# move sudoers file to /etc/sudoers.d/
install -m 644 %{SOURCE100} %{buildroot}%{_sysconfdir}/sudoers.d/

%clean
rm -rf %{buildroot}

%files
%defattr(-,root,root,-)
#for $i, $artifact in $enumerate($all_artifacts)
  #if $artifact.endswith('.jar')
%{_javadir}/$artifact
%{hadoop_libdir}/$artifact
  #end if
#end for
%config %{_sysconfdir}/sudoers.d/20_glusterfs_hadoop_sudoers

%changelog
* Thus Oct 09 2014 Shubhendu Tripathi <shtripat@redhat.com> 2.1.6-1
- bz#1065417 fixed rpmlint errors and warnings

* Wed Feb 06 2014 Jeff Vance <jvance@redhat.com> 2.1.6
- fix name from "gluster" to "glusterfs-hadoop"
- minor README updates

* Wed Feb 05 2014 Jeff Vance <jvance@redhat.com> 2.1.5-2
- installs the sudoers file. BZ 1059986

* Wed Jan 9 2014 Jay Vyas <jvyas@redhat.com> 2.1.4-1 
- rename to rhs-hadoop for release

* Fri Nov 22 2013 Jay Vyas <jvyas@rehdat.com> 2.1.4
- Initial import into the glusterfs-hadoop plug-in as part of our deployment. 

* Fri May 18 2012 Anthony Towns <atowns@redhat.com> - 0.20.2-0
- Initial build
