Name: $name
Version: $version
Release: $release
#if $epoch
Epoch: $epoch
#end if
License: Apache
Summary: GlusterFS Hadoop Plugin
Group: Application/File

#set $i = 0
#for $artifact in $all_artifacts
Source$i: $artifact
#set $i += 1
#end for

BuildRoot: %{_tmppath}/%{name}-%{version}-%{release}-root-%(%{__id_u} -n)
BuildArch: noarch

%description
The Gluster hadoop FileSystem implemenataion for both hadoop 1x and 2x.  This
java plugin for hadoop (i.e. it is added into /usr/lib/hadoop/lib on all nodes
in a cluster) allows MapReduce and YARN to run on top of gluster.  

%prep

%build

%install
rm -rf %{buildroot}
/usr/bin/install -d %{buildroot}%{_javadir}
/usr/bin/install -d %{buildroot}%{_javadir}/poms
/usr/bin/install -d %{buildroot}%{_javadir}/zips
/usr/bin/install -d %{buildroot}%{_javadir}/conf

pwd
find -name core-site.xml
### /usr/bin/install -m 644 conf/core-site.xml %{buildroot}%{_javadir}/conf/core-site.xml

#set $i = 0
#for $artifact in $all_artifacts
  #if $artifact.endswith('.jar')
/usr/bin/install -m 644 %{SOURCE$i} %{buildroot}%{_javadir}
  #elif $artifact.endswith('.pom')
/usr/bin/install -m 644 %{SOURCE$i} %{buildroot}%{_javadir}/poms
  #elif $artifact.endswith('.zip')
/usr/bin/install -m 644 %{SOURCE$i} %{buildroot}%{_javadir}/zips
  #end if
  #set $i += 1
#end for

%clean
rm -rf %{buildroot}

%files
%defattr(-,root,root,-)
%dir %{_javadir}/poms
%dir %{_javadir}/zips
%dir %{_javadir}/conf

### %{_javadir}/conf/core-site.xml
#set $i = 0
#for $artifact in $all_artifacts
  #if $artifact.endswith('.jar')
%{_javadir}/$artifact
  #elif $artifact.endswith('.pom')
%{_javadir}/poms/$artifact
  #elif $artifact.endswith('.zip')
%{_javadir}/zips/$artifact
  #end if
  #set $i += 1
#end for

%changelog
* Fri May 18 2012 Anthony Towns <atowns@redhat.com> - 0.20.2-0
- Initial build
* Fri Nov 22 2013 Jay Vyas <jvyas@rehdat.com> 2.1.4
- Initial import into the glusterfs-hadoop plugin as part of our deployment. 

